@tailwind base;
@tailwind components;
@tailwind utilities;

/* Match the behavior you had in index.html */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.material-symbols-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Public Sans', sans-serif;
}
